section#author
  .author__content
    .author__image
      img(src="./img/author/author.jpg", alt="Author Image")
      p.author__name Даниил Янченко
      p.author__position Основатель и владелец сети NEKOSAY
    .author__text
      h2.author__title ЖДЕМ ВАС В 
        span КОМАНДЕ NEKOSAY
      p.author__description Мы начали с маленького магазина в Нижнем Новгороде, но благодаря упорному труду и преданности идее, наша компания выросла и развилась в целую сеть магазинов – мы также работаем в Москве, Арзамасе и Дзержинске.
      p.author__quote «Сейчас наша компания активно развивается, и я предлагаю вам присоединиться к сети NEKOSAY. Наша франшиза даст вам возможность зарабатывать, внося свой вклад в развитие аниме-культуры в вашем регионе.»
      p.author__name Даниил Янченко
      p.author__position Основатель и владелец сети NEKOSAY
