section#benefits
    .benefits__content
      h2.benefits__title NEKOSAY — РОЗНИЧНАЯ СЕТЬ АНИМЕ-МАГАЗИНОВ, ГДЕ ПРЕДСТАВЛЕНО
        br
        span.benefits__title--highlight БОЛЕЕ 10 000 ТОВАРОВ В РАЗЛИЧНЫХ КАТЕГОРИЯХ
      p.benefits__subtitle Наш бизнес растет и процветает благодаря нашим преданным покупателям, которые находят у нас не только товары, но и уютную атмосферу, где можно поделиться своими интересами с единомышленниками.
      .benefits__stats
        .benefits__stat
          span.benefits__stat-number 15
          |  лет на рынке розничной продажи аниме товаров
        .benefits__stat.dro
          span.benefits__stat-number 10
          |  собственных магазинов сети
      button.benefits__cta.open-modal Запланировать звонок с собственником
    .benefits__cards
      .benefits__row
        +card('01', 'Собственное производство', 'Ассортиментная политика — трендовые новинки и исторически популярные позиции', './img/benefits/1.svg', '#e6388d')

        +card('02', 'Склад с продукцией в Москве', 'Собственный склад с широким ассортиментом аниме-товаров, которые можно быстро доставить в любой город России', './img/benefits/2.svg', 'transparent')
        
      .benefits__row

        +card('03', 'Команда дизайнеров', 'Формирование ассортимента на основе маркетинговых исследований команды опытных аналитиков и дизайнеров', './img/benefits/3.svg', 'transparent')

        +card('04', 'Быстрый запуск и минимальный ремонт', 'Понятны в управлении: розничный магазин с прямыми продажами, постоянная поддержка, чтобы управлять своим магазином эффективно и прибыльно', './img/benefits/4.svg', '#82CEE9')

