section#cta.cta
  .container
    .left
      .logo
        img(src="./img/cta/logo.svg" alt="KosmKurs" width=300 height=250)
      .cta-wrapper 
        .cta-text
          p Оставьте свои контактные данные,
          | и мы свяжемся с вами
          br
          | в ближайшее время
        button.button.open-modal ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
    .right
      .image-container
        img(src="./img/cta/author.jpg" alt="Галина Николаевна Романова")
