section#footer
  .footer__content
    .footer__top
      .footer__left
        img(src="./img/footer/logo.png", alt="Nekosay Logo")
        p.footer__description Дружелюбная сеть аниме-магазинов
      .footer__center 
        a(href="tel:+79524780284") +7 (952) 478-02-84
        a(href="mailto:franchise@nekosay.ru") franchise@nekosay.ru
      .footer__right

        .footer__social
          a(href="t.me/nekosay_russia")
            img(src="./img/footer/tg.svg", alt="Telegram")
          a(href="vk.com/nekosay_russia")
            img(src="./img/footer/vk.svg", alt="VK")
          a(href="#main")
            img(src="./img/footer/chevron.svg", alt="Chevron")
    .footer__nav
      nav
        a(href="#benefits") Франшиза
        a(href="#location") Магазины
        a(href="#products") Ассортимент
        a(href="#formats") Форматы
        a(href="#franchise") Преимущества
        a(href="#contact") Контакты
    .footer__bottom
      p © 2024 Все права защищены
      a(href="./docs/policy.docx") Политика конфиденциальности
