section#formats
  .formats__content
    h2.formats__title ОТКРЫТЬ СВОЙ МАГАЗИН <br>
      span NEKOSAY — СКОЛЬКО СТОИТ?
    p.formats__subtitle Наша франчайзинговая модель поможет вам стать собственником магазина аниме-товаров, привлечь покупателей и получать стабильную прибыль, в то время как наша команда даст точные инструкции и будет консультировать вас на каждом этапе.
  .formats__cards
    .formats__card.formats__card--pink
      h3 Формат СТАРТ
      p.b Площадь от 35 м²
      p Ремонт и оборудование магазина 
        span.line
        span.value от 500 000₽
      p Товар 
        span.line
        span.value от 650 000₽
      p Реклама 
        span.line
        span.value от 70 000₽
      p.bb Прочие расходы 
        span.line
        span.value от 80 000₽
      p.bbb 
         span от 500 000₽ 
         |Паушальный взнос (сумма зависит от численности населения города, в котором открывается магазин)
      .union 
         p 
            span до 2 ЛЕТ 
            |Срок окупаемости
         p 
            span от 1 700 000₽ 
            |Инвестиция
      button.open-modal Стать партнером
    .formats__card.formats__card--blue
      h3 Формат СТАНДАРТ
      p.b Площадь от 70 м²
      p Ремонт и оборудование магазина 
        span.line
        span.value от 750 000₽
      p Товар 
        span.line
        span.value от 1 000 000₽
      p Реклама 
        span.line
        span.value от 120 000₽
      p.bb Прочие расходы 
        span.line
        span.value от 140 000₽
      p.bbb 
         span от 500 000₽ 
         |Паушальный взнос (сумма зависит от численности населения города, в котором открывается магазин)
      .union 
         p 
            span до 1,5 ЛЕТ 
            |Срок окупаемости
         p 
            span от 2 440 000₽ 
            |Инвестиция

      button.open-modal Стать партнером
    .formats__card.formats__card--yellow
      h3 Формат ФЛАГМАН
      p.b Площадь от 95 м²
      p Ремонт и оборудование магазина 
        span.line
        span.value от 950 000₽
      p Товар 
        span.line
        span.value от 2 200 000₽
      p Реклама 
        span.line
        span.value от 300 000₽
      p.bb Прочие расходы 
        span.line
        span.value от 320 000₽
      p.bbb 
         span от 500 000₽ 
         |Паушальный взнос (сумма зависит от численности населения города, в котором открывается магазин)
      .union 
         p 
            span до 1,5 ЛЕТ 
            |Срок окупаемости
         p 
            span от 4 070 000₽
            |Инвестиция
      button.open-modal Стать партнером
