
section#franchise
  .franchise__content
    h2.franchise__title ПРЕИМУЩЕСТВА БИЗНЕСА 
      span ПО ФРАНШИЗЕ NEKOSAY
  .union 
   .franchise__cards
         .franchise__row
            +card('01', 'Обучение и поддержка', 'Наша компания осуществляет полную поддержку и обучение в процессе запуска вашего бизнеса. У вас будут все необходимые инструменты для эффективной работы', './img/franchise/1.svg', '#3c3052')
            +card('02', 'Финансовая выгода', 'Франчайзинговая схема ведения бизнеса позволяет сэкономить ваши ресурсы — время и деньги, которые ВСЕГДА требуются в непропорциональном объеме в процессе разработки концепции бизнеса, тестирования и отладки', './img/franchise/2.svg', '#3c3052')
         .franchise__row
            +card('03', 'Наш опыт', 'Когда вы станете частью нашей сети, вы будете частью комьюнити предпринимателей — владельцев магазинов. У вас будет возможность обмениваться опытом как с владельцами сети, так и с другими франчайзи', './img/franchise/3.svg', '#3c3052')
            +card('04', 'Актуальность бизнеса', 'Популярность аниме-культуры только набирает обороты в нашей стране. Спрос в несколько раз превышает предложение. Сейчас самое время стать частью растущего рынка и заработать внутри успешной сети', './img/franchise/4.svg', '#3c3052')
   .franchise__brand
    .text 
         h3 Бренд NEKOSAY
         p Наш бренд уже зарекомендовал себя на рынке аниме-товаров, он сразу же привлекает внимание покупателей к вашему магазину.
    img(src="./img/franchise/niko.png", alt="Бренд NEKOSAY")
    img(src="./img/franchise/mask.png", alt="mask").mask