header#header
    .header__logo
      img(src="./img/header/logo.svg", alt="Logo")
    nav.header__nav
      ul.header__menu
        li.header__item
          a(href="#") О нас
        li.header__item
          a(href="#") Магазины
        li.header__item
          a(href="#") Преимущества
        li.header__item
          a(href="#") Форматы
        li.header__item
          a(href="#") Контакты
    .header__contact
      span.header__phone +7 (952) 478-02-84
      span.header__desc Звоните, проконсультируем
    .header__cta
      button.header__btn.open-modal Получить КП
    .unit
      .header__icon 
        a(href="tel:+79524780284") 
          img(src="./img/header/phone.svg", alt="Phone Icon")
      .header__burger
        img(src="./img/header/burger.svg", alt="Menu")

    // Burger Menu for Mobile
    .header__mobile-menu
      .header__mobile-close
        img(src="./img/header/close.svg", alt="Close")
      ul.header__mobile-menu-list
        li.header__mobile-item
          a(href="#") О нас
        li.header__mobile-item
          a(href="#") Магазины
        li.header__mobile-item
          a(href="#") Преимущества
        li.header__mobile-item
          a(href="#") Форматы
        li.header__mobile-item
          a(href="#") Контакты
      .unit__mobile
        .header__mobile-contact
          span.header__mobile-phone +7 (952) 478-02-84
          span.header__mobile-desc Звоните, проконсультируем
        .header__mobile-cta
          button.header__mobile-btn.open-modal Получить КП
