header#header
    .header__logo
      img(data-src="./img/header/logo.png", alt="Logo").lazy
    nav.header__nav
      ul.header__menu
        li.header__item
          a(href="#benefits") О нас
        li.header__item
          a(href="#location") Магазины
        li.header__item
          a(href="#franchise") Преимущества
        li.header__item
          a(href="#formats") Форматы
        li.header__item
          a(href="#contact") Контакты
    .header__contact
      span.header__phone +7 (952) 478-02-84
      span.header__desc Звоните, проконсультируем
    .header__cta
      button.header__btn.open-modal Получить КП
    .unit
      .header__icon 
        a(href="tel:+79524780284") 
          img(data-src="./img/header/phone.svg", alt="Phone Icon").lazy
      .header__burger
        img(data-src="./img/header/burger.svg", alt="Menu").lazy

    // Burger Menu for Mobile
    .header__mobile-menu
      .header__mobile-close
        img(data-src="./img/header/close.svg", alt="Close").lazy
      ul.header__mobile-menu-list
        li.header__mobile-item
          a(href="#benefits") О нас
        li.header__mobile-item
          a(href="#location") Магазины
        li.header__mobile-item
          a(href="#franchise") Преимущества
        li.header__mobile-item
          a(href="#formats") Форматы
        li.header__mobile-item
          a(href="#contact") Контакты
      .unit__mobile
        .header__mobile-contact
          span.header__mobile-phone +7 (952) 478-02-84
          span.header__mobile-desc Звоните, проконсультируем
        .header__mobile-cta
          button.header__mobile-btn.open-modal Получить КП
