section#location
  .location__content
    h2.location__title НАШИ МАГАЗИНЫ
    .location__map
      img(src="./img/location/russia.png", alt="Карта России")
    .location__list
      .city
        h3.city__name НИЖНИЙ НОВГОРОД:
        ul.city__locations.hh
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Крым»
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТРК «Небо»
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Золотая миля»
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Муравей»
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «РИО»
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | Молл «Океанис»
      .city
        h3.city__name МОСКВА:
        ul.city__locations.msk
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Наутилус»
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Кунцево»
      .city
        h3.city__name ДЗЕРЖИНСК:
        ul.city__locations
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Юбилейный»
      .city
        h3.city__name АРЗАМАС:
        ul.city__locations
          li.city__location
            img(src="./img/location/mark.svg", alt="Mark Icon")
            | ТЦ «Метро»
