section#main
  .main__content
    .main__unit 
      h1.main__title Присоединяйтесь к дружелюбной сети
        br
        span.main__title--highlight Аниме-магазинов Nekosay
      p.main__subtitle Прибыльная бизнес-модель для городов с населением от 80 000 человек
    .main__unit 
      ul.main__benefits
        li.main__benefit
          img(data-src="./img/main/mark.svg", alt="Mark Icon").lazy
          | Рентабельность от 20%
        li.main__benefit
          img(data-src="./img/main/mark.svg", alt="Mark Icon").lazy
          | Ассортимент 10 000+ позиций
        li.main__benefit
          img(data-src="./img/main/mark.svg", alt="Mark Icon").lazy
          | Прямые поставки от лучших производителей
      button.main__cta.open-modal Стать франчайзи Nekosay
  .main__image
    img(data-src="./img/main/full.png",  alt="Niko", class="niko-full" ).lazy
    img(data-src="./img/main/mobile.png",  alt="Niko Mobile", class="niko-mobile" ).lazy
  

