section#packages
  .packages__content
    h2.packages__title В ПАКЕТ ФРАНШИЗЫ 
      span NEKOSAY ВХОДИТ
  .packages__cards
      +card('01',  '', 'Инструкции по ведению бизнеса',  './img/packages/1.svg', '#3c3052')
      +card('02', '',  'Финансовая модель с прогнозом срока окупаемости', './img/packages/2.svg', '#3c3052')
      .packages__table
        table
          thead
            tr
              th Город
              th Паушальный взнос
          tbody
            tr
              td Москва, Санкт-Петербург
              td 1 000 000₽
            tr
              td Население от 500 000 человек
              td 700 000₽
            tr
              td Население до 500 000 человек
              td 500 000₽
      +card('03', '', 'Аккаунт-менеджер на стороне управляющей компании для консультаций по решению оперативных вопросов', './img/packages/3.svg', '#3c3052')
      +card('04', '', 'Формирование ассортимента и ценообразование', './img/packages/4.svg', '#3c3052')
      +card('05', '', 'Обучение сотрудников технологиям продаж и стандартам обслуживания сети', './img/packages/5.svg', '#3c3052')
      +card('06', '', 'Помощь в подборе локации для магазина', './img/packages/6.svg', '#3c3052')
      +card('07', '', 'Маркетинговая поддержка', './img/packages/7.svg', '#e6388d')
      +card('08', '', 'Подключение и настройка IT-системы', './img/packages/8.svg', '#82cee9')
      +card('09', '', 'Получить подробный список поддержки франчайзи', './img/packages/9.svg', '#f6e774', 'open-modal pointer')
