section#price
  .price__content
    h2.price__title ЭКОНОМИКА РАБОТЫ 
      span АНИМЕ-МАГАЗИНА NEKOSAY
    p.price__subtitle Для расчета плановой прибыльности вашей точки обращайтесь за консультацией к представителям компании
  .price__boxes
    .price__box.price__box--details
      h3 Магазин в Нижнем Новгороде, ТЦ «Океанис»
      p Население города <span class="line"></span> <span class="value">1 200 000 чел.</span>
      p Открытие <span class="line"></span> <span class="value">февраль 2023 года</span>
      p Площадь магазина <span class="line"></span> <span class="value">70 м²</span>
      p Количество сотрудников <span class="line"></span> <span class="value">3 продавца</span>
      p Средний чек <span class="line"></span> <span class="value">600-800₽</span>
      p Кол-во позиций в продаже <span class="line"></span> <span class="value">6 000+</span>
    .price__box.price__box--expenses
      h3 Ежемесячные расходы
      p Аренда <span class="line"></span> <span class="value">от 100 000₽</span>
      p Коммунальные услуги <span class="line"></span> <span class="value">от 15 000₽</span>
      p ФОТ <span class="line"></span> <span class="value">от 120 000₽</span>
      p Реклама <span class="line"></span> <span class="value">от 10 000₽</span>
      p Прочие расходы <span class="line"></span> <span class="value">от 40 000₽</span>
      p Роялти <span class="line"></span> <span class="value">3% от оборота</span>
  .price__summary
    .price__summary-item.price__summary-item--pink
      h4 от 970 000₽
      p Плановый оборот
    .price__summary-item.price__summary-item--yellow
      h4 от 33%
      p Себестоимость от оборота
    .price__summary-item.price__summary-item--blue
      h4 7%
      p Логистические расходы от себестоимости
    .price__summary-item.price__summary-item
      h4 28%
      p Рентабельность
    .price__summary-item.price__summary-item
      h4 7 месяц
      p Выход на плановый оборот
    .price__summary-item.price__summary-item
      h4 до 50%
      p Операционные расходы от оборота
  button.price__cta Обратиться к менеджеру NEKOSAY
