section#products
  .products__content
    h2.products__title АССОРТИМЕНТ&nbsp;
      span МАГАЗИНА
  .products__grid
    .div1
      img(src="./img/products/1.jpg", alt="Product Image 1", class="full")
      img(src="./img/products/shorted/1.jpg", alt="Product Image 1 Shorted", class="shorted")
    .div2
      img(src="./img/products/2.jpg", alt="Product Image 2")
    .div3
      img(src="./img/products/3.jpg", alt="Product Image 3")
    .div4
      img(src="./img/products/4.jpg", alt="Product Image 4")
    .div5
      img(src="./img/products/5.jpg", alt="Product Image 5")
    .div6
      img(src="./img/products/6.jpg", alt="Product Image 6")
    .div7
      img(src="./img/products/7.jpg", alt="Product Image 7")
    .div8
      img(src="./img/products/8.jpg", alt="Product Image 8")
    .div9
      img(src="./img/products/9.jpg", alt="Product Image 9")
    .div10
      img(src="./img/products/10.jpg", alt="Product Image 10", class="full")
      img(src="./img/products/shorted/2.jpg", alt="Product Image 10 Shorted", class="shorted")
