section#reviews.reviews
  .container
    .reviews__header
      h2.title ХОТИТЕ ПОЛУЧАТЬ ТАКИЕ ОТЗЫВЫ ОТ СВОИХ КЛИЕНТОВ 
      span ?

    .reviews__content
      img(src="./img/reviews/marketplace_reviews.png" alt="Отзывы")
