section#steps
  .steps__content
    .union
      h2.steps__title
        span 10 ШАГОВ ОТКРЫТИЯ 
        br
        | МАГАЗИНА NEKOSAY
      ul.steps__list
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 1")
          p Оставьте заявку на консультацию или позвоните нам
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 2")
          p Обсуждение условий сотрудничества, подписание договора, оплата паушального взноса
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 3")
          p Передача документации, необходимой для работы
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 4")
          p Выбор локации. Ремонт и оборудование магазина
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 5")
          p Формирование ассортимента и ценообразование
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 6")
          p Поиск и обучение сотрудников
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 7")
          p Оформление страницы на сайте и в социальных сетях
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 8")
          p Запуск рекламной кампании
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 9")
          p Подключение IT-системы
        li.step
          img.step__icon(src="./img/steps/mark.svg", alt="Step 10")
          p Торжественное открытие вашего магазина аниме-товаров NEKOSAY
    .steps__images
      img(src="./img/steps/1.jpg", alt="Step image 1")
      img(src="./img/steps/2.jpg", alt="Step image 2")
