section#support
  .support__content
    .support__left
      h2.support__title ВАМ НУЖНО ЛИШЬ ОТКРЫТЬ МАГАЗИН И ЗАНИМАТЬСЯ ПРОДАЖАМИ. 
        span ВСЕ ОСТАЛЬНОЕ МЫ ВОЗЬМЕМ НА СЕБЯ:
      img(src="./img/support/niko.jpg", alt="Niko")
      button.support__button.open-modal Узнать полный список поддержки франчайзи
    .support__right
      ul.support__list
        li.support__item
          .support__number 01
          p Обеспечим выгодные условия по закупке товара
        li.support__item
          .support__number 02
          p Обеспечим формирование и обновление ассортимента вашего магазина
        li.support__item
          .support__number 03
          p Установим цены на товар, привлекательные для покупателей и оптимальные для вашего бизнеса
        li.support__item
          .support__number 04
          p Будем регулярно анализировать эффективность вашего бизнеса
        li.support__item
          .support__number 05
          p По необходимости проведем дополнительное обучение сотрудников
        li.support__item
          .support__number 06
          p Дадим рекомендации по маркетингу и многое другое
