include ../components/index


main
   include _header
   include _main
   include _benefits
   include _location
   include _products
   include _price
   include _franchise
   include _formats
   include _packages
   include _steps
   include _support
   include _author
   include _cta
   include _footer

