doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.css")
    title Спасибо за заявку!
  body 
    section#success.success
      .container
        .content
          h1.h1 СПАСИБО!<br> СКОРО МЫ <br class='br'> С ВАМИ СВЯЖЕМСЯ
          img(src="./img/cta/logo.svg", alt="logo_success").logo
          .button 
            a(href="index.html") Вернуться назад 
            span.blick.light
