@use "../variables.scss" as *;

#contact {
  background: $bg;
  padding: 0 60px 100px;

  @media (max-width: $lscreen) {
    padding: 0 40px 100px;
  }

  @media (max-width: $notebooks) {
    padding: 0 20px 60px;
  }

  @media (max-width: $mobile) {
    padding: 0 10px 60px;
  }

  .contact__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch; // This will make the items stretch to the same height
    gap: 40px;

    @media (max-width: $lscreen) {
      gap: 20px;
    }

    @media (max-width: $notebooks) {
      flex-direction: column;
      align-items: center;
    }
  }

  .contact__form {
    max-width: 540px;
    flex-shrink: 0;
    padding: 40px;
    border: 2px solid $w;
    background: $bg;
    display: flex;
    flex-direction: column;
    justify-content: center; // This will vertically center the form

    @media (max-width: $lscreen) {
      padding: 30px;
      max-width: 450px;
    }

    @media (max-width: $notebooks) {
      max-width: 100%;
      margin-bottom: 20px;
    }

    @media (max-width: $tablet) {
      padding: 20px;
    }

    .contact__title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px;
      color: $w;
      max-width: 460px;

      span {
        display: block;
        font-size: 16px;
        color: rgba($w, 0.8);
        margin-top: 10px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 30px;
      }

      @media (max-width: $lscreen) {
        span {
          font-size: 16px;
        }
      }

      @media (max-width: $tablet) {
        text-align: left;

        font-size: 26px;

        span {
          margin-bottom: 20px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      max-width: unset;

      input {
        padding: 15px;
        border: 1px solid rgba($w, 0.3);
        background: none;
        color: $w;
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: unset;
        width: 100%;

        &::placeholder {
          color: rgba($w, $alpha: 0.8);
        }

        &[name="city"] {
          margin-bottom: 20px;
        }

        @media (max-width: $mobile) {
          font-size: 14px;
          padding: 12px;
        }
      }

      .button {
        background-color: $yellow;
        color: $bg;
        padding: 20px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 20px;
        max-width: unset;
        border-radius: unset;
        text-transform: unset;

        @media (max-width: $mobile) {
          padding: 12px;
        }
      }
    }

    a {
      display: block;
      color: rgba($w, 0.8);
      text-align: center;
      font-size: 14px;
    }
  }

  .contact__image {
    flex: 1; // This will make the image take the remaining space
    display: flex;
    align-items: center; // This will vertically center the image

    @media (max-width: $tablet) {
      max-width: 100%;
      text-align: center;
      flex: unset; // Reset flex property for mobile
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensure the image covers the container without stretching
      border-left: 2px solid $w;
      border-right: 2px solid $w;
    }
  }
}
