@use "../variables.scss" as *;

#success {
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "avanti", sans-serif;

  .container {
    max-width: 1366px;
    width: 100%;
    padding: 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $lscreen) {
      padding: 0 80px;
    }

    @media (max-width: $notebooks) {
      padding: 0 40px;
    }

    @media (max-width: $tablet) {
      padding: 0 20px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;

      @media (max-width: $tablet) {
        gap: 30px;
      }

      @media (max-width: $mobile) {
        gap: 20px;
      }

      .h1 {
        font-size: 38px;
        font-weight: bold;
        color: $w;
        line-height: 1.2;

        br.br {
          display: none;
        }

        @media (max-width: $lscreen) {
          font-size: 32px;
        }

        @media (max-width: $tablet) {
          font-size: 28px;
        }

        @media (max-width: $mobile) {
          font-size: 24px;

          br.br {
            display: block;
          }
        }
      }

      .niko {
        width: 100%;
        max-width: 400px;
        object-fit: cover;
        margin-bottom: -70px;

        @media (max-width: $tablet) {
          max-width: 250px;
        }

        @media (max-width: $mobile) {
          max-width: 200px;
        }
      }

      .button {
        // background: linear-gradient(90deg, #cf5d80 0%, #e0a8b8 100%);
        background: $yellow;
        color: $bg;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: unset;
        padding: 20px 20px;
        cursor: pointer;
        margin-top: 20px;

        a {
          font-family: "avanti";
          color: $w;
          text-decoration: none;
        }

        &:hover {
          // background-color: darken($textpink, 10%);
        }

        @media (max-width: $tablet) {
          font-size: 16px;
        }

        @media (max-width: $mobile) {
          font-size: 16px;
          padding: 10px 20px;
        }
      }
    }
  }
}
