@use "../variables.scss" as *;

#support {
  background: $w;
  padding: 0 60px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $lscreen) {
    padding: 0 40px 100px;
    flex-direction: column;
  }

  @media (max-width: $notebooks) {
    padding: 0 20px 60px;
  }

  @media (max-width: $mobile) {
    padding: 0 10px 60px;
  }

  .support__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    justify-content: space-between;

    @media (max-width: $lscreen) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .support__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $lscreen) {
      align-items: center;
      margin-bottom: 40px;
    }

    .support__title {
      font-size: 38px;
      max-width: 650px;
      font-weight: 700;
      margin-bottom: 24px;
      color: $dark;

      span {
        color: $pink;
      }

      @media (max-width: $lscreen) {
        font-size: 32px;
        text-align: center;
      }

      @media (max-width: $tablet) {
        font-size: 28px;
      }

      @media (max-width: $mobile) {
        font-size: 26px;
      }
    }

    img {
      margin-bottom: -30px;
      max-width: 470px;
      width: 100%;
    }

    .support__button {
      background: $yellow;
      padding: 17px 30px;
      border: none;
      font-size: 16px;
      color: $dark;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;

      @media (max-width: $lscreen) {
        width: 100%;
        text-align: center;
      }
    }
  }

  .support__right {
    // max-width: 600px;

    .support__list {
      list-style: none;
      padding: 0;
      margin: 0;

      .support__item {
        display: flex;
        align-items: center;
        padding: 27px 0;
        border-top: 1px solid rgba($bg, 0.3);

        max-width: 590px;
        width: 100%;

        &:last-child {
          border-bottom: 1px solid rgba($bg, 0.3);
        }

        .support__number {
          display: flex;
          align-items: center;
          height: 60px;
          background: #e6388d;
          border-radius: 50%;
          color: #fff;
          justify-content: center;
          font-weight: 700;
          width: 100%;
          margin-right: 20px;
          max-width: 60px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 68px;
            height: 68px;
            border: 1px solid $pink;
            border-radius: 50%;
          }

          @media (max-width: $mobile) {
            max-width: 40px;
            height: 40px;
            margin-right: 15px;

            &:before {
              width: 48px;
              height: 48px;
            }
          }
        }

        p {
          font-size: 18px;
          color: $bg;
          margin: 0;
          max-width: 420px;

          @media (max-width: $lscreen) {
            text-align: left;
          }
        }
      }
    }
  }
}
