@font-face {
  font-family: "agg";
  font-weight: 500;
  src: url("../fonts/agg/agg_medium.ttf") format("truetype");
}

@font-face {
  font-family: "agg";
  font-weight: 700;
  src: url("../fonts/agg/agg_bold.ttf") format("truetype");
}

@font-face {
  font-family: "avanti";
  font-weight: 400;
  src: url("../fonts/agg/avanti_regular.ttf") format("truetype");
}

@font-face {
  font-family: "avanti";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/agg/avanti_regular_italic.ttf") format("truetype");
}

@font-face {
  font-family: "avanti";
  font-weight: 700;
  src: url("../fonts/agg/avanti_bold.ttf") format("truetype");
}

@font-face {
  font-family: "avanti";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/agg/avanti_bold_italic.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueHeavy.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueThin.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 100;
}
